{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% if software.title %}{{ software.title }}{% endif %}</h1><br>
      <p>{{_('Categoria')}}: {% for category in software.categories %}
        {{ category }}</p>{% endfor %}{% if software.owner %}
      <p>{{_('Desenvolvedor')}}: {{ software.owner }}</p>{% endif %}
        {% if software.license %}<p>{{_('Licença')}}: {{ software.license }}
        {% endif %}{% if software.dateCreation %}<p>{{_('Data de criação')}}:
        {{ software.dateCreation }}</p>{% endif %}
      <p>{{_('Palavras-Chaves')}}: {% for tag in software.tags %}{{ tag }}{% endfor %}</p>
      {% if software.description %}<p>{{ software.description }}</p>{% endif %}<br>
      {% if software.user_id == current_user.id %}
        <p><a href="{{ url_for('main.edit_software', id=software.id) }}" id="color-red">{{_('Editar aplicação')}}</a> |
          <a href="{{ url_for('main.deletar_software', id=software.id) }}" id="color-red">{{_('Apagar aplicação')}}</a></p>
      {% endif %}
      <br><h4><a href="{{ software.officialLink }}" id="buttonPerfil" target="_blank">{{_('Visitar página oficial')}}</a><h4><br>
      <h4><hr>{{_('Aplicação registrada por')}}:
        <a href="{{ url_for('main.user', nickname=software.author.nickname ) }}" id="color-red">
          @{{ software.author.nickname }}</a><hr></h4>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-12">
      <h2>Fontes e aplicações semelhantes</h2><br>
      <p>Título</p>
      <p>Categoria</p><hr>
      <p>Título</p>
      <p>Categoria</p><hr><br><br><br>
    </div>
    <div class="col-md-12">
      <h4>Cadastre um novo semelhante digitando o título da fonte ou aplicação
        no formulário abaixo:</h4><br>
        {{ wtf.quick_form(form) }}<br><br><br>
    </div>
    <div class="col-md-12">
      <p>O seu título semelhante precisa está cadastrado na plataforma.<br> Para isso clique em
        <a href="{{ url_for('main.register_source') }}" id="color-red">{{ _('nova fonte') }}</a> ou em
        <a href="{{ url_for('main.register_software') }}" id="color-red">{{ _('nova aplicação') }}</a>.
      </p>
    </div>
  </div><br><br>
{% endblock %}
